@import url('https://fonts.googleapis.com/css?family=Encode+Sans:400,500,700,900&display=swap');
body {
    font-family: 'Encode Sans', sans-serif !important;
}

.first-nav {
    background-color: #4b2e83;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.uw-logo {
    height: 80%;
    margin-left: 10%;
    margin-top: 1%;
}

.mdl-navigation {
    height: 50px;
    background-color: #85754d;
}

.mdl-navigation__link {
    margin: auto;
    font-weight: bold;
    color: white;
}

.mdl-navigation__link:hover {
    background-color: #D9D9D9;
}

.top-banner {
    font-size: 40px;
    color: white;
    margin: auto;
    font-family: 'Encode Sans';
    font-weight: 700;
}